<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name = "keywords" content = "Platine PHP" />
        <meta name="description" content="Platine PHP is a lightweight, high-performance, simple and elegant PHP Web framework">
        <meta name="author" content="Platine Framework Team">
        <title>Platine PHP</title>
        <link href="{% static css/app.css %}" type="text/css" rel="stylesheet" /> 
    </head>
    <body>
        {{ middleware }}
        <script src="{% static js/app.js %}"></script>
    </body>
</html>